
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>İSTATİSTİKLER</h2>
<div class="alert alert-danger">Kategori Sayısı:@ViewBag.categorysayisi</div>
<div class="alert alert-danger">Proje Sayısı:@ViewBag.projesayisi</div>

