@model List<AcunMedyaAkademiPortfolyo.Models.TblProject>

@{
    ViewBag.Title = "ProjectList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<h2>Projeler Listesi</h2>
<table class="table table-bordered">
    <tr>
        <th>Proje Id</th>
        <th>Proje Açıklaması</th>
        <th>Proje Resim Yolu</th>
        <th>Proje Categorisi</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProjectID</td>
            <td>@item.Descripton</td>
            <td><img src="@item.ImageUrl"class="img-fluid" style="width:200px;height:200px" /></td>
            <td>@item.TblCategory.CategoryName</td>
            <td><a href="/Project/DeleteProject/@item.ProjectID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Project/UpdateProject/@item.ProjectID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Project/CreateProject/" class="btn btn-primary">Yeni Proje Girişi</a>


