
@{
    ViewBag.Title = "CreateFeature";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Hakkımda Ekleme Sayfası </h2>
<form method="post"
      <label>Yeni Giriş</label>
    <input type="text"class="table table-bordered"name="FeatureName"/>
    <br/>
    <button class="btn btn-info">Hakkımdayı Kaydet</button>
    </form>

