
@{
    ViewBag.Title = "CreateAbaout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>CreateAbaout</h2>
<form method="post">
    <label> Hakkımda Başlığı</label>
    <input type="text" class="table table-bordered" name="Title" />
    <br />
    <label>Hakkımda Açıklaması</label>
    <textarea rows="4" class="table table-bordered" name="Descripton"></textarea>
    <br />
    <label> Hakkımda Resim Yolu</label>
    <input type="text" class="table table-bordered" name="ImageUrl" />
    <br />
   
    <button class="btn btn-info">Projeyi Kaydet</button>
</form>

