@model List<AcunMedyaAkademiPortfolyo.Models.TblAbaout>
<div id="about" class="section wb">
    <div class="container">
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-md-6">
                    <div class="message-box">
                        <h2>@item.Title</h2>
                        <p>@item.Description</p>

                        <a href="~/Templates/Yağmur Türkköylü (2).pdf" class="sim-btn btn-hover-new" data-text="Download CV" download>
                            <span>Download CV</span>
                        </a>

                    </div><!-- end messagebox -->
                </div><!-- end col -->

                <div class="col-md-6">
                    <div class="right-box-pro wow fadeIn">
                        <img src="@item.ImageUrl" alt="" class="img-fluid img-rounded">
                    </div><!-- end media -->
                </div><!-- end col -->
            </div><!-- end row -->
        }
    </div><!-- end container -->
</div>
