@model List<AcunMedyaAkademiPortfolyo.Models.TblFeature>
   @foreach (var item in Model)
      {
    <section id="home" class="main-banner parallaxie" style="background: url('@item.ImageUrl')">
        <div class="heading">
            <h1>Merhaba ben @item.NameSurname</h1>
            <p>@item.Description</p>
            <h3 class="cd-headline clip is-full-width">
                <span>Ben </span>
                <span class="cd-words-wrapper">
                    <b class="is-visible">@item.ProjectName</b>
                    
                </span>
            </h3>
        </div>
    </section>
        }

