<div class="copyrights">
    <div class="container">
        <div class="footer-distributed">
            <div class="footer-left">
                <p class="footer-links">
                    <a href="#">Anasayfa</a>
                    <a href="#about">Hakkımda</a>
                    <a href="#services">Hizmetlerim</a>
                    <a href="#portfolio">Projelerim</a>
                    
                    <a href="#testimonials">Referanslarım</a>
                    <a href="#contact">İletişim</a>
                </p>
                <p class="footer-company-name">
                    All Rights Reserved. &copy; 2018 <a href="#">Yağmur Türkköylü</a> Design By :turkkoyluy
                    <a href="https://html.design/">html design</a>
                </p>
            </div>
        </div>
    </div><!-- end container -->
</div>
