@model List<AcunMedyaAkademiPortfolyo.Models.TblProject>

<div id="portfolio" class="section lb">
    <div class="container">
        <div class="section-title text-left">
            <h3>Projelerim</h3>
            <p>Bu zamana kadar irili ufaklı toplamda 4 proje yaptım.Şuanda da devam etmekte olan diğer projemi ve diğer tüm projelerimi aşağıda görebilirsiniz.</p>
        </div><!-- end title -->

        <div class="gallery-menu row">
            <div class="col-md-12">
                <div class="button-group filter-button-group text-left">
                    <button class="active" data-filter="*">Hepsi</button>
                    @foreach (var item in Model.Select(m => m.Descripton).Distinct())
                    {
                        <button data-filter=".gal_@(item.Replace(" ", "_"))">@item</button>
                    }
                </div>
            </div>
        </div>
        
        <div class="gallery-list row">
            @foreach (var item in Model)
            {
                <div class="col-md-4 col-sm-6 gallery-grid gal_@(item.Descripton.Replace(" ", "_"))">
                    <div class="gallery-single fix">
                        <img src="@item.ImageUrl" class="img img-fluid" alt="Image">
                        <div class="img-overlay">
                            <a href="@item.ImageUrl" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
